.cartitem-style{
   display: flex;
    justify-content: "space-evenly";

}
.cart-style{
    display: inline-block;
    padding: 10px 35px;
    font-family: "Amazon Ember",Arial,sans-serif;
    /* font-family: "Times New Roman", Times, serif; */
    font-size: medium
}
.total-amount{
margin-left: 700px;
}
.cart-layout{
    display:flex; 
    
}
.btn{font: inherit;
    cursor: pointer;
    background-color: #ffd814;
    border: 1px solid #ffd814;
    color: black;
    padding: 0.3rem 2rem;
    border-radius: 20px;
    font-weight: bold;}
.h2-style{
    font-family: Arial, sans-serif;
}