.productdetails{
    display: flex;
    justify-content: space-evenly;
    font-family: "Amazon Ember",Arial,sans-serif;
    /* font-family: "Times New Roman", Times, serif; */
    font-size: medium;
    color: black;
}